.aboutus-box .title {
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 50px;
}
.aboutus-box p {
    line-height: 28px;
    margin-bottom: 10px;
    text-indent: 24px;
}
