@charset "utf-8";
/*---------重置和全局使用的基本定义---------*/
/*@media only screen and (min-width: 320px) {*/
    /*html {*/
        /*font-size: 62.5% !important;*/
    /*}*/
/*}*/

/*@media only screen and (min-width: 640px) {*/
    /*html {*/
        /*font-size: 125% !important;*/
    /*}*/
/*}*/

/*@media only screen and (min-width: 750px) {*/
    /*html {*/
        /*font-size: 150% !important;*/
    /*}*/
/*}*/

/*@media only screen and (min-width: 1242px) {*/
    /*html {*/
        /*font-size: 187.5% !important;*/
    /*}*/
/*}*/

html {
    color: #333;
    font-size: 62.5%;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -ms-touch-action: none;
}

body {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    font-family: "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei", "微软雅黑", "Segoe UI", "Tahoma", "宋体b8b体", "SimSun", "sans-serif";
}

* {
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Microsoft Yahei UI", "Microsoft Yahei", "微软雅黑", "Segoe UI", "Tahoma", "宋体b8b体", "SimSun", "sans-serif"
}

dl, dd {
    margin-left: 0;
}

ul, ol {
    padding-left: 0;
    list-style: none;
}

em, var, cite, i {
    font-style: normal;
}

small {
    font-size: inherit;
}

s, a {
    color: #333;
    text-decoration: none;
}

:focus {
    outline: none;
}

blockquote, q {
    quotes: none;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show; /*table-layout:fixed;*/
}
img, iframe {border: none;}
img {vertical-align: top;border-style: none;}
.fn-pl-0 {padding-left: 0;}
.fn-pr-0 {padding-right: 0;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1}
.pull-left {float: left;}
.pull-right {float: right;}
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.text-overflow {overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.color-yellow {color: #eabc00;}
.ui-100 {width: 100%;}	/*宽100%*/
.ui-50 { width: 50%;}		/*2col*/
.ui-33 { width: 33.33%;}	/*3col*/
.ui-25 { width: 25%;}		/*4col*/
.ui-20 { width: 20%;}		/*5col*/

.line {
    width: 40px;
    height: 4px;
    background: #333;
    margin: 0 auto 20px;
}

/*导航*/
.left-common {
    float: left;
    width: 100px;
}

.home-section {
    margin-left: 100px;
}
