/*头部*/
.icon-logo {
    width: 9rem;
    height: 2rem;
}
#menu {
    width: 100%;
    z-index: 99;
    font-size: 1rem;
    background: rgba(0,0,0,.3);
    color: #333;
}
#panel-menu {
    padding-left: 6rem;
    padding-top: 6rem;
    height: 90%;
    background: #fff;
}
.mm-page {
    width: 100% !important;
    left: 0 !important;
}
.mm-list {
    padding-top: 6rem;
    text-align: center;
}
.mm-list.menu_2 {
    padding-top: 6rem;
}
#mm-blocker {
    display: none !important;
}
.mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-noresults)::after,
.mm-menu .mm-list > li > a.mm-subopen:before{
    content: normal;
}
.mm-menu .mm-list > li > a.mm-subopen:after, .mm-menu .mm-list > li > a.mm-subclose:before {
    border-color: #666;
}
.mm-menu .mm-list > li > a.mm-subclose {
    background: transparent;
    color: #333;
}
.mm-opened .mm-menu.mm-horizontal > .mm-panel {
    height: 90%;
    background: #fff;
}
.mm-menu .mm-list > li.mm-selected > a:not(.mm-subopen), .mm-menu .mm-list > li.mm-selected > span {
    background: transparent;
    color: #ffba00;
}
.mm-btn_next:after, .mm-btn_prev:before {
}
.mm-opening a[href="#menu"] {
    display: none!important;
}
.mm-opening a[href="#page"] {
    display: block!important;
}
.fixed_top {
    padding: 20px 2rem;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
}
.fixed_top.is_show {
    display: block !important;
    top: 58px;
}
.fixed_top.is_show .icons,
.fixed_top.is_show .icon-logo,
.fixed_top.is_show .input-show {
    display: none;
}
.fixed_top.is_show .fixed_top-search {
    padding-left: 0;
}
.fixed_top.is_show .search-box {
    display: block !important;
    width: 100%;
}
.fixed_top-search {
    height: 38px;
    padding-left: 3rem;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fixed_top2 .search {
    width: 38px;
    height: 38px;
    border: 1px solid #888;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    margin-right: 1rem;
}
.fixed_top2 .fixed_top-search {
    padding-left: 0;
}
.fixed_top .fa-close {
    display: none!important;
}
.search-box {
    width: 14rem;
    position: relative;
}
.fixed_top .fa-search {
    color: #999;
    font-size: 1.6rem;
}
.search-box .fa-search {
    position: absolute;
    top: 50%;
    left: 1rem;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: -2px;
}
.search-box .layui-input {
    border-radius: 3rem;
    padding-left: 3rem;
    padding-right: 1rem;
}
.fixed_top2 {
    display: none;
}

@media (max-width: 700px) {
    .menu-box {
        padding-bottom: 75%;
    }
}
@media (max-width: 768px) {
    #menu {
        left: 0;
    }
    #panel-menu {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 3rem;
    }
    .mm-list.menu_2, .info-padding {
        padding-top: 4rem;
    }
    .fixed_top {
        padding: 10px 1rem;
    }
    .index {
        padding-top: 58px;
    }
}
@media (max-width: 520px) {
    .fixed_top1 {
        display: none;
    }
    .fixed_top2 {
        display: flex;
    }
}

